a {
    text-decoration: none;
    color: white;
}

html,
body {
    margin: 0 auto;
    font-family: Josefin Sans;
    text-rendering: optimizeLegibility;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header__background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

nav {
    display: grid;
    position: fixed;
    top: 1em;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 18px;
    transition: background-color 0.4s ease-out;
}

nav.scroll {
    top: 0em;
    height: 5em;
    background-image: linear-gradient(90deg, rgb(129, 200, 129), rgb(123, 135, 219));
    color: #eef;
    z-index: 10;
}

.hero {
    display: grid;
}

.hero--container {
    background-image: linear-gradient(65deg, rgba(26, 32, 218, 0.55), rgba(85, 208, 45, 0.71)), url(../images/hero.png);
    background-position-x: center;
    color: rgb(255, 255, 255);
    background-size: contain;
    background-repeat: no-repeat;
}

.hero--nav {
    display: grid;
    color: white;
    grid-template-columns: 100px 234px auto;
    list-style-type: none;
    text-shadow: 0px 3px 3px black;
    font-size: 20px;
    align-items: center;
}

.hero--nav .left {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-gap: 59px;
    justify-content: end;
}

.hero--nav .logo {
    overflow: hidden;
    position: relative;
    width: 68%;
    border-radius: 50%;
    top: -9px;
    right: -7px;
}

.hero--nav .link:hover {
    color: #bbb;
}

.home {
    width: 50px;
    height: 50px;
}

.hero--nav .link.two {
    font-size: 24px;
    margin-top: 13px;
}

.hero--nav .link.three {
    font-size: 24px;
    margin-top: 13px;
}

.hero--nav .link.one {
    font-size: 42px;
}

li.link.four {
    font-size: 24px;
    margin-top: 13px;
}

.hero--text {
    font-size: 3em;
    /*padding: 2em;*/
    /*margin-left: 31px;*/
    text-shadow: 0px 3px 3px black;
    align-self: center;
    font-weight: 100;
    /*position: relative;*/
    top: 9%;
    text-align: center;
}

.home--page {
    text-shadow: 0px 3px 3px black;
    display: block;
    margin-top: 19px;
    color: rgb(137, 137, 240);
    font-size: 1em;
    text-decoration: underline;
}

@keyframes up {
    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

/*footer*/
.footer--container {
    background-image: linear-gradient(40deg, #CCFFFF, #ffcccc);
    padding: 12px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.social {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 20px;
}

.social--svg {
    width: 50px;
    height: 50px;
}

.footer--text {
    font-weight: 100;
}

/* mobile nav */
@media screen and (max-width: 864px) {
    section.cordinator {
        grid-auto-flow: row !important;
    }

    section.members {
        grid-auto-flow: row !important;
        grid-template-columns: none !important;
    }

    .hero--text {
        font-size: 26px;
        padding-left: 0;
    }

    .home {
        font-size: 30px;
    }

    nav {
        padding: 0;
    }

    .hero--nav {
        grid-template-columns: 68px 234px auto;
    }

    .hero--nav .logo {
        overflow: hidden;
        position: relative;
        width: 75%;
        border-radius: 50%;
        top: 0 !important;
        right: 0 !important;
        margin: 0 auto;
    }

    .hero--nav .link.one {
        font-size: 2em;
    }

    .nav-wrapper {
        display: block !important;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: linear-gradient(-45deg, rgb(139, 156, 249), rgb(222, 34, 98));
        transition: all 0.2s ease;
        opacity: 0;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn {
        position: fixed;
        right: 20px;
        top: 20px;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 30px;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .big-menu {
        display: none !important;
    }
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: rgb(0, 0, 0);
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
    font-size: 42px;
}

.hidden {
    display: none;
}

.nav-wrapper {
    display: none;
}

.big-menu {
    display: block;
}

.heading {
    margin-top: 3em;
    text-align: center;
    font-size: 4em;
}

.main--container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

section.cordinator {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: flex-end;
}

section.members {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
}

.sub--heading {
    text-align: center;
}

.card {
    background-color: rgb(236, 234, 234);
    width: 300px;
    min-height: 250px;
    margin: 10px;
    border-radius: 3px;
    display: grid;
    position: relative;
    grid-template-rows: 81% auto;
    text-align: center;
}

.image {
    width: 100%;
}

.card img {
    width: 100%;
    height: 100%;
}

.card .wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 81%;
    background-image: linear-gradient(-45deg, rgba(16, 204, 194, 0.4), rgba(18, 68, 209, 0.42));
    font-size: 1.5em;
    text-decoration: none;
    transition: all 1.2s ease-in-out;
    text-align: center;
}

.card:hover .wrapper {
    display: flex;
    border-radius: 0px;
}

.wrapper h3 {
    margin-bottom: 1px;
}

.card h2.role {
    color: rgb(0, 0, 0);
    align-self: center;
    margin-bottom: 0;
}


/*
 @media screen and (max-width:900px ){

        .main .about{
                display: grid;
                grid-auto-flow: column;
                width: 600px;
                height: 400px;
                grid-template-columns: 200px auto;
                grid-gap: 35px;
                align-items: center;
            }
            .main .mission {
                display: grid;
                grid-auto-flow: column;
                width: 600px;
                height: 400px;
                grid-template-columns: auto 200px;
                grid-gap: 36px;
                align-items: center;
                margin-top: -259px;
            }

            .main .vs{
                display: grid;
                grid-auto-flow: column;
                width: 600px;
                height: 400px;
                grid-template-columns:200px auto;
                grid-gap: 36px;
                align-items: center;
                margin-top: -259px;
            }

 }
        */
