a {
    text-decoration: none;
    color: white;
    z-index:10;
    cursor: pointer;
}

html,body {
    margin: 0 auto;
    font-family: Josefin Sans;
    text-rendering: optimizeLegibility;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    position:fixed;
    width:100%;
    background-color: rgb(28, 12, 141);
    height:80px;
    z-index:10;
}

#nav:checked+.nav-btn {
  transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
  background: rgb(0, 0, 0);
  transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
  z-index:10;
  opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
  font-size: 42px;
}

.hidden {
  display: none;
}

.nav-wrapper {
  display: none;
}

.big-menu {
  display: block;
}

.home {
    width: 50px;
    height: 50px;
    filter: invert(1);
    position: relative;
}

#navbar {
    display: grid;
    color: red;
    grid-template-columns: 100px 260px auto;
    list-style-type: none;
    text-shadow: 0px 3px 3px black;
    font-size: 20px;
    align-items: center;
    padding: 10px;
    z-index:10;
}
  
#navbar .left {
display: grid;
grid-auto-flow: column;
grid-template-columns: auto;
grid-gap: 59px;
justify-content: end;
/*! padding:0px 50px; */
z-index:10;
}

#navbar .logo {
overflow: hidden;
position: relative;
width: 68px;
border-radius: 50%;
height: 68px;
}

#navbar .link.two {
font-size: 24px;
margin-top: 13px;
}

#navbar .link.three {
font-size: 24px;
margin-top: 13px;
}

#navbar .one {
font-size: 47px;
text-shadow: 3px 3px #00000042;
}

li.link.four {
font-size: 24px;
margin-top: 13px;
}

#navbar .link {
position: relative;
text-shadow: none;
}

#navbar .link::before {
content: '';
position: absolute;
left: 0;
right: 0;
bottom: -2px;
width: 100%;
height: 2px;
background-image: linear-gradient(-45deg, rgb(7, 234, 182), rgb(0, 103, 225));
transform-origin: bottom right;
transform: scaleX(0);
transition: transform 0.5s ease;
}

#navbar .link:hover::before {
transform-origin: bottom left;
transform: scaleX(1);
}

.main {
    margin-top:60px;
    display: grid;
    text-align:center;
    width: 100%;
}

canvas{
    z-index:5;
}
.main>h1{
    font-size:55px;
    color:green;
    text-decoration:underline;
    margin-top: 2em;
}

.row{
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-gap:10px;
    /*! margin:0px 50px; */
}
.achievements>h1{
    text-align:left;
    margin:0px 70px;
}

hr{
    color:green;
}
.column{
    margin:20px;
    border: 5px solid red;
    padding:10px;
    border-radius:10px;
    box-shadow:8px 8px orange;
}

.column>img{
    width:100%;
}
.column>h2{
    color:blue;
    text-align:left;
}
.column>h3{
    font-size:25px;
}
.column>p,li{
    text-align: left;
    list-style:none;
    font-size:18px;
}
.project{
    text-align:center;
}

.project>h1{
    font-size:35px;
    color:brown;
}
.project>h2{
    font-size:30px;
}
.whatsapp{
    width:50px;
}

.footer--container {
  background-color: rgb(237, 237, 237);
  padding: 12px;
  text-align: center;
  margin-top:2em;
  width: 100%;
  bottom:0;
  z-index:10;
}

.social {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 20px;
}

.social--svg{
  display:block;
  width: 50px;
  height: 50px;
}

.footer--text {
  font-weight: 100;
}

@media screen and (max-width: 864px){
    #navbar {
      display:grid;
      grid-template-columns:70px auto auto;
    }

    #navbar .one {
    font-size: 40px;
    }

    #navbar .logo {
    width: 60px;
    height: 60px;
    }
    
    .nav-wrapper {
        display: block !important;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: inherit 3;;
        background-image: linear-gradient(-45deg, rgb(139, 156, 249), rgb(222, 34, 98));
        transition: all 0.2s ease;
        opacity: 0;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn {
        position: fixed;
        right: 20px;
        top: 20px;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 30px;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .big-menu {
        display: none !important;
    }

    .main>h1{
        font-size:40px;
    }

    .row{
        grid-template-columns:100%;
    }
    
    .achievements>h1{
        margin:0px 15px;
    }
    .project>h1{
        font-size:30px;
    }
    .project>h2{
        font-size:25px;
    }
    canvas{
        z-index:5;
    }
    .footer--container{
        z-index:10;
    }
}