a {
    text-decoration: none;
    color: white;
}

html,
body {
    margin: 0 auto;
    font-family: Josefin Sans;
    text-rendering: optimizeLegibility;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: linear-gradient(0deg,#f0c954,#f00c0c);
}

.home {
    width: 50px;
    height: 50px;
    filter: invert(1);
    position: relative;
    top: -5px;
}

nav {
    display: grid;
    position: fixed;
    top: 1em;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 18px;
    transition: all 0.3s ease-in-out;
}

nav.scroll {
    top: 0em;
    height: 5em;
    background-image: linear-gradient(90deg,#f0c954,#f00c0c);
    color: #eef;
    z-index: 0;
}

.hero {
    display: grid;
}

.hero--container {
    background-image: linear-gradient(65deg,#f0c954cc,#f00c0ccc), url(../images/hero.png);
    background-position: center;
    display: grid;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero--nav {
    display: grid;
    color: white;
    grid-template-columns: 100px 260px auto;
    list-style-type: none;
    text-shadow: 0px 3px 3px black;
    font-size: 20px;
    align-items: center;
}

.hero--nav .left {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-gap: 59px;
    justify-content: end;
}

.hero--nav .logo {
    overflow: hidden;
    position: relative;
    width: 68%;
    border-radius: 50%;
    top: -9px;
    right: -7px;
}

.hero--nav .one {
    font-size: 47px;
    text-shadow: 3px 3px #00000042;
}

.hero--nav .link.two {
    font-size: 24px;
    margin-top: 13px;
}

.hero--nav .link.three {
    font-size: 24px;
    margin-top: 13px;

}

li.link.four {
    font-size: 24px;
    margin-top: 13px;

}

.hero--nav .link {
    position: relative;
    text-shadow: none;
}

.hero--nav .link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(65deg,#f0c954,#f00c0c);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.hero--nav .link:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.main1 {
    display: grid;
    padding-top: 6em;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
}

.heading {
    display: grid;
    font-size: 50px;
    text-shadow: 0px 3px 3px black;
    font-weight: 100;
    margin: 0 auto;
}

.detail {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-auto-flow: column;
    grid-template-columns: 800px 150px auto;
}

.contact--info {
    display: grid;
    width: 70%;
    font-size: 25px;
    line-height: 30px;
    align-content: center;
    padding-left: 5em;
    margin: auto 0px;
}

.query {
    display: grid;
    width: 700px;
    height: 10px;
    padding-left: 3em;
    margin: auto 0px;
    font-size: 40px;
}

.OR {
    margin: auto 0px;
    font-size: 25px;
    width: 50px;
}

.whatsapp {
    width: 40px;
    height: 40px;
    margin: auto auto;
}

.email {
    height: 50px;
    width: 50px;
}

.line,
.multiline,
.buttonline {
    width: 320px;
}

.box {
    height: 48px;
    width: 320px;
    margin: auto auto;
    ;
}

.Input {
    box-sizing: border-box;
    z-index: 17;
    height: 48px;
    width: 320px;
    left: 0px;
    top: 0px;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0px 20px;
    transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
}

.MultilineInput {
    box-sizing: border-box;
    z-index: 5;
    height: 100px;
    width: 320px;
    left: 0px;
    top: 0px;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1;
    padding: 12px 20px;
    transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
}

.Button1 {
    box-sizing: border-box;
    z-index: 15;
    height: 56px;
    width: 320px;
    left: 0px;
    top: 0px;
    padding: 0px;
    cursor: pointer;
    background: -webkit-linear-gradient(left,#E91E63 0%, #FFC107 100%);
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1;
    border-radius: 30px;
    transition: background 200ms ease 0s;
}

/*footer*/
.footer--container {
    background-image: linear-gradient(180deg,#f0c954,#f00c0c);
    text-align: center;
    bottom: 0;
}

.social {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 20px;
}

.social--svg {
    width: 50px;
    height: 50px;
}

.footer--text {
    color: black;
    font-weight: 100;
    font-size: 20px;
}

.footer {
    z-index: -1000;
}

@media screen and (max-width: 864px) {
    .hero--nav .one {
        font-size: 42px;
        text-shadow: 3px 3px #00000042;
        position: relative;
        top: 4px;
    }

    nav {
        padding: 0;
        top: 0em;
        height: 5em;
        background-image: linear-gradient(90deg,#f0c954cc,#f00c0ccc),
        transition: none;
    }

    .hero--nav {
        grid-template-columns: 68px 234px auto;
    }

    .hero--nav .logo {
        overflow: hidden;
        position: relative;
        width: 75%;
        border-radius: 50%;
        top: 0 !important;
        right: 0 !important;
        margin: 0 auto;
    }

    .hero--nav .link.one {
        font-size: 2em;
    }

    .nav-wrapper {
        display: block !important;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(-45deg, rgb(139, 156, 249), rgb(222, 34, 98));
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn {
        position: fixed;
        right: 20px;
        top: 20px;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 30px;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .big-menu {
        display: none !important;
    }

    .query {
        padding: 0;
        font-size: 30px;
        width: 100%;
        margin: 10px;
    }

    .detail {
        display: flex;
        height: fit-content;
        flex-flow: column;
    }

    .contact--info {
        order: 3;
        font-size: 20px;
        align-content: center;
        margin: 10px;
        padding: 10px;
    }

    .OR {
        order: 2;
        margin: 10px auto;
        font-size: 20px;
    }

    .Form1 {
        order: 1;
        margin: 10px;
        padding-top: 40px;
    }

    .whatsapp {
        width: 20px;
        height: 20px;
        margin: 10px auto;
    }

    .Form1,
    .line,
    .multiline,
    .buttonline {
        display: block;
        margin: 3%;
    }
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: rgb(0, 0, 0);
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
    font-size: 42px;
}

.hidden {
    display: none;
}

.nav-wrapper {
    display: none;
}

.big-menu {
    display: block;
}
