a {
    text-decoration: none;
    color: white;
}

html,body {
    margin: 0 auto;
    font-family: Josefin Sans;
    text-rendering: optimizeLegibility;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-top: 2px solid rgb(103, 58, 183);
    border-left: 2px solid rgb(103, 58, 183);
}

.hero--nav {
    display: grid;
    color: white;
    align-items: center;
    justify-content: center;
}
.hero--nav .logo {
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    bottom: -27px;
}
.hero--nav .one {
    font-size: 42px;
}

/* main */
.hero--container{
	display: grid;
	/* background-color: orange; */
	/* height: 100vh; */
}

.hide{
	display: none;
}
.show{
	display: grid;
}
/*footer*/
.footer--container {
    background-image: linear-gradient(40deg, #CCFFFF, #ffcccc);
    padding: 12px;
    text-align: center;
    margin-top: 2em;
    width: 100%;
}

.social {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 20px;
}

.social--svg {
    width: 50px;
    height: 50px;
}

.footer--text {
    font-weight: 100;
}

.main {
    display: grid;
    /* margin-top: 2em; */
    width: 100%;
}

.hero--text {
    font-size: 4em;
    color: rgb(67, 54, 53);
    margin-bottom: 0;
}

span.tagline {
    text-align: center;
    font-size: x-large;
    color: rgb(63, 81, 181);
}

.hero--heading {
    display: grid;
    justify-content: center;
}

div#myBtnContainer {
    display: grid;
    grid-auto-flow: column;
    margin-top: 2em;
    grid-gap: 3em;
    justify-content: center;
}

button.btn {
    -webkit-appearance: none;
    background-color: rgb(103, 58, 183);
    /* padding: 1em; */
    width: 150px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 20px;
    height: 40px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button.btn:hover {
    box-shadow: 2px 2px #38303047;
    background-color: rgb(57, 33, 100);
}

.active{
    background-color: rgb(3, 139, 17) !important;
}


section.instruction {
    display: grid;
    justify-content: center;
    margin-top:0em;
}

ul {
    list-style-type: none;
    list-style: decimal;
    padding-right: 20px;
    font-size: 18px;
}

.rules h2{
    color: blue;
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 0;
    text-decoration: underline;
}

button.btn.round.disabled {
}

.rounds {margin: 0 auto;}

img.logo {
    width: 117px;
}

.hide{
	display: none;
}

.show{
	display: grid;
}

.soon {
    text-align: center;
    color: rgb(242, 12, 23);
    margin-top: 2em;
}
/*footer*/
.footer--container {
    background-image: linear-gradient(40deg, #CCFFFF, #ffcccc);
    padding: 12px;
    text-align: center;
    margin-top: 2em;
    width: 100%;
}

.social {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 20px;
}

.social--svg {
    width: 50px;
    height: 50px;
}

.footer--text {
    font-weight: 100;
}

ul.list{
    color:#fff;
    display:inline-block;
    width:auto;
    list-style-type: none;
    cursor: pointer;
}

ul.list li{
    display:inline-block;
    text-align:center;
    width:100px;
    margin:auto 50px;
    padding: 10px 20px;
    background-color: rgb(3, 139, 17);
    border-bottom:3px solid #185706;
    border-right: 3px solid #185706;
    border-radius:50px;
    position: relative;
}

ul.sublist{
    position:absolute;
    display:none;
    top: 
}
ul.sublist button{
    font-size:20px;
    display:block;
    border-bottom:3px solid #1c0080;
    border-right:3px solid #1c0080;
    border-radius:5px;
    margin:0px;
}
.list li:hover .sublist{
    display:block;
    left:-38px;
    top: 43px;
}

ul.sublist button:hover{
    color:white;
    background-color:#d56c0f;
    border-bottom:3px solid #b54c0d;
    border-right:3px solid #b54c0d;
}